.container {
  margin: 0 auto;
  max-width: 480px;
}

.heading {
  color: #0086A8;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2rem;
}

.caption {
  color: #888888;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.captionCopy {
  font-size: 0.7em;
}

.beers {
  margin-top: 1em;
}

.chips {
  display: flex;
  flex-wrap: wrap;
}