.chip {
  font-size: 0.875rem;
  color: #eee;
  background-color: #0086A8;
  border-radius: 1em;
  margin: 0.5em 1em 0 0;
  padding: 0.3em 0.6em;
}

.close {
  font-size: 0.75em;
  color: black;
  background-color: white;
  border-radius: 3em;
  line-height: 1em;
  padding: 0 0.3em;
  margin-right: 0.5em;
}