.tab {
  position: fixed;
  bottom: 0;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  background-color: #FFFFFF;
  padding: 2em, 6em;
  color: #0086A8;

  @media (min-width: 768px){
    font-size: 3rem;
    padding: 0.3em 0.7em;
  }

  &.left {
    left: 0;
    border-radius: 0 0.6em 0 0;
  }

  &.center {
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 0.6em 0.6em 0 0;
  }

  &.right {
    right: 0;
    border-radius: 0.6em 0 0 0;
  }
}